<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Poovarasan Vasudevan</title>
    <meta name="description" content="Freelance Software Engineer">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:700" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="website">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- INTRO -->
<div class="chapter-intro">
    <div class="container">
        <div class="title">I’m Poovarasan</div>
        <div class="subtitle">SOFTWARE ENGINEER AT <span class="trustbk">HTC<span class="half-baked">&nbsp;&nbsp;Global Services</span></span>
        </div>
        <div class="description">
            We are building a new bank for small and medium businesses,<br class="hidden-xs">
            centered around humans, using top-notch<br class="hidden-xs">
            tools and technology.
        </div>
        <div class="header-image"></div>
    </div>
</div>

<div class="chapter-divider">&nbsp;</div>

<div class="chapter">
    <div class="container">
        <img class="illustration" src="images/tools.jpg" width="107"><br>

        <div class="row skills">
            <div class="col-md-6 left">
                <div class="title">Skills</div>
                <div class="text">
                    I’m a passionate coder who strives to write clean, tested, high-quality code. I’m also a
                    hobbyist designer who seeks pixel-perfect UI and seamless UX. I strongly believe in user-oriented
                    products and <a href="http://theleanstartup.com/principles" target="_blank"><b>fast feedback
                    loops</b></a>.
                </div>
            </div>

            <div class="col-md-5 right">
                <div class="skill-container">
                    <div class="skill">
                        <div class="backend">Backend <span class="bullet">• • • • <span class="off">•</span></span>
                        </div>
                        <div class="smaller gray"> Java, C# , Ruby, PHP, Go</div>
                    </div>
                    <br>
                    <div class="skill">
                        <div class="web">Web <span class="bullet">• • • • <span class="off">•</span></span></div>
                        <div class="smaller gray">Vue JS, AngularJS, Node</div>
                    </div>

                    <br>
                    <div class="skill">
                        <div class="android">Android <span class="bullet">• • • • •</span></div>
                        <div class="smaller gray">Kotlin, Rx, Dagger, Retrofit</div>
                    </div>
                    <br>
                    <div class="skill">
                        <div class="design">Design <span class="bullet">• • • <span class="off">• •</span></span></div>
                        <div class="smaller gray">Paint, Photoshop</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="chapter-divider">&nbsp;</div>

<div class="chapter half">
    <div class="container">

        <img class="illustration" src="images/workspace.jpg" width="149"><br>
        <div class="title">Work</div>
        <br>
        <div class="text">
            8 years ago I started crafting electronic devices as a kid. I now have an engineering degree and
            3+ years of work experience. Here are some of the projects I’ve been working on.
        </div>
    </div>
</div>

<div class="work" ng-controller="JobsController">

    <div class="head">&nbsp;</div>

    <div class="chapter-experience" ng-repeat="job in jobs track by $index">
        <div class="title" id="title-{{$index}}" ng-click="togglecard($index)">
            <div class="content">
                <div class="side">
                    <div class="name">{{job.name}}</div>
                    <div class="skills">
                        <span ng-repeat="skill in job.skills" class="{{skill | lowercase}}">
                            {{skill}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="year">{{job.date}}</div>
        </div>

        <div class="card" id="card-{{$index}}">
            <div class="container" ng-click="togglecard($index)">
                <div class="card-icon">
                    <img ng-src="{{job.icon}}" height="50px">
                </div>
                <div class="card-title">
                    {{job.name}}
                </div>
                <div class="card-subtitle">
                    <span ng-show="job.side == undefined">{{job.company}}<br></span>
                    {{job.date}}
                </div>
                <div class="card-screenshots" ng-show="job.screenshots">
                    <img ng-repeat="screenshot in job.screenshots" ng-src="images/screenshots/{{screenshot}}"
                         ng-click="openScreenshot(screenshot); $event.stopPropagation();">
                </div>
                <p class="card-description" ng-bind-html="job.description">
                </p>
            </div>
        </div>
    </div>

    <div class="foot">
        <div class="title">2010 - 2014</div>
        <div class="school">
            Arulmigu Meenakshi Amman<br>
            College Of Engineering
        </div>
    </div>
</div>

<div class="chapter-divider">&nbsp;</div>

<div class="chapter">
    <div class="container">

        <div class="title">More</div>

        <div class="row misc">
            <div class="col-md-offset-1 col-md-6">

                <div class="subheader">Social links</div>
                <a href="https://twitter.com/poovarasanv" target="_blank">
                    <i class="fa fa-twitter fa-2x social"></i></a>&nbsp;&nbsp;
                <a href="https://in.linkedin.com/in/poovarasan-vasudevan-a661b190" target="_blank">
                    <i class="fa fa-linkedin-square fa-2x social"></i></a>&nbsp;&nbsp;
                <a href="https://github.com/poovarasanvasudevan" target="_blank">
                    <i class="fa fa-github fa-2x social"></i></a><br><br>

                <div class="subheader">Blog</div>

                <a href="http://alljava4you.blogspot.com/" target="_blank"><span class="gray">http://</span>alljava4u.blogspot.com</a><br><br>

                <div class="subheader">Given Presentation</div>
                ADC Waves <a href="http://www.ssn.edu.in/">SSN Engg College, Chennai</a>
                <span class="small gray">2013</span><br>
                Hands on 8085/8086 <a href="http://www.ritchennai.org/">RIT, Chennai</a>
                <span class="small gray">2012</span><br>

                <div class="subheader">Certifications</div>
                <a href="#" target="_blank">C /C++ </a><br>
                <a href="#" target="_blank">Programming Android</a><br>
            </div>
            <div class="visible-xs visible-sm">
                <br>
            </div>
            <div class="col-md-5">

                <div class="subheader">Side work on Open Source</div>


                <a href="https://github.com/poovarasanvasudevan/Social-Ui-Kit" target="_blank">Social UI Kit</a>
                <span class="small gray">OWNER</span><br>

                <a href="https://github.com/flipkart-incubator/proteus" target="_blank">Proteus</a>
                <span class="small gray">CONTRIBUTOR</span><br>

                <a href="https://github.com/koush/ion" target="_blank">Ion</a>
                <span class="small gray">CONTRIBUTOR</span><br>

                <a href="https://github.com/wequick/Small" target="_blank">Small</a>
                <span class="small gray">CONTRIBUTOR</span><br>


                <div class="subheader">Last read books</div>

                <a href="https://www.amazon.com/Elixir-Action-Sa%C5%A1a-Juri-cacute/dp/161729201X/ref=sr_1_1"
                   target="_blank">Elixir in Action</a>
                <span class="small gray">SAŠA JURIĆ</span><br>

                <a href="https://www.amazon.com/Programming-Elixir-1-3-Functional-Concurrent/dp/168050200X/ref=sr_1_1/147-9955428-9260962"
                   target="_blank">Programming Elixir 1.3</a>
                <span class="small gray">DAVE THOMAS</span><br>

                <a href="https://www.amazon.fr/RxSwift-Reactive-Programming-raywenderlich-com-Team/dp/1942878346"
                   target="_blank">RxSwift</a>
                <span class="small gray">PILLET, BONTOGNALI, TODOROV, GARDNER</span><br>

                <a href="https://www.amazon.fr/Growing-Object-Oriented-Software-Guided-Tests/dp/0321503627"
                   target="_blank">Growing Object-Oriented Software, Guided By Tests</a>
                <span class="small gray">FREEMAN, PRYCE</span><br>

                <a href="https://www.infoq.com/minibooks/domain-driven-design-quickly" target="_blank">Domain
                    Driven Design Quickly</a>
                <span class="small gray">AVRAM, MARINESCU</span><br>

                <a href="https://www.amazon.fr/Pragmatic-Programmer-Journeyman-Master/dp/020161622X" target="_blank">The
                    Pragmatic Programmer</a>
                <span class="small gray">HUNT, THOMAS</span><br>

                <a href="https://www.amazon.fr/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882"
                   target="_blank">Clean Code</a>
                <span class="small gray">ROBERT C. MARTIN</span><br>

                <a ng-click="showMoreBooks=true" ng-show="!showMoreBooks">…</a>
                <div ng-show="showMoreBooks">

                    <a href="https://www.amazon.fr/iOS-Programming-Nerd-Ranch-Guide/dp/0134390733" target="_blank">iOS
                        Programming</a>
                    <span class="small gray">THE BIG NERD RANCH</span><br>
                    <a href="http://www.amazon.com/The-Lean-Startup-Entrepreneurs-Continuous/dp/0307887898/ref=sr_1_1?ie=UTF8&qid=1402735953&sr=8-1&keywords=the+lean+startup"
                       target="_blank">
                        The Lean Startup</a> <span class="small gray">ERIC RIES</span><br>

                    <a href="http://www.manning.com/muschko/" target="_blank">Gradle In Action</a> <span
                        class="small gray">BENJAMIN MUSCHKO</span><br>

                    <a href="http://www.amazon.com/Effective-Java-Edition-Joshua-Bloch/dp/0321356683" target="_blank">Effective
                        Java 2</a>
                    <span class="small gray">JOSHUA BLOSH</span><br>

                    <a href="http://shop.oreilly.com/product/9780596007126.do" target="_blank">Head First Design
                        Patterns</a>
                    <span class="small gray">FREEMAN, ROBSON, BATES, SIERRA</span><br>

                    <a href="https://www.amazon.fr/Android-Programming-Nerd-Ranch-Guide/dp/0134171454" target="_blank">Android
                        Programming</a>
                    <span class="small gray">THE BIG NERD RANCH</span>

                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>

<div class="chapter-divider">&nbsp;</div>

<div class="chapter">
    <div class="container">

        <img class="illustration" src="images/email.jpg" width="83px"><br>
        <span class="contact">
            <a href="mailto:poosan@gmail.com" target="_blank">
                Contact me
            </a>
        </span>

    </div>
</div>

<div class="chapter-footer">
    <div class="container">
        <div class="copyright smaller">
            Design and development by Poovarasan Vasudevan © 2017 <br>
        </div>
    </div>
</div>

<script src="scripts/vendor.js"></script>

<script src="scripts/plugins.js"></script>

<script src="scripts/main.js"></script>

</body>
</html>
